body {
    background-color: yellow;
    font-family: Arial;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.first {
    color: red;
}

#your-name {
    background-color: blueviolet;
    border: 5px solid #444;
}