# name: Prettier Format Check

# on:
#   pull_request:
#     branches:
#       - main

# jobs:
#   format-check:
#     runs-on: [self-hosted, linux, enterprise, docker]
#     container: ghcr.io/northerntrust-internal/ghe-node22-browsers:latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       - name: Setup Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: lts/*

#       - name: Install dependencies
#         run: npm i

#       - name: Run Prettier Format Check
#         run: npm run format:check
